<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-filters (updatedFilters)="filterChange($event)" [filters]="filters"></app-filters>
  <app-categories [filters]="filters" 
                  (yearMinChange)="yearMinChange($event)"
                  (yearMaxChange)="yearMaxChange($event)"
                  (makeChange)="makeChange($event)"
                  (mpgChange)="mpgChange($event)"
                  >
  </app-categories>
  <app-item-list [cars]="filteredCars"></app-item-list>
</div>

